*{
    box-sizing: border-box;
    font-family: Arial;
}

.logo{
    text-align: center;
    padding: 15px;  
}

nav{
    background-color: #C4CAD0;
    text-align: center;  
}

nav a{
    padding: 14px 16px;
    display: inline-block;
    color: black;
    text-decoration:none;
}

nav a:hover{
    background-color: #878C8F;
    color: white;
    text-decoration:none;
}

.slideshow{
    padding: 30px 0 0 0;
    margin: auto;
    width: 900px;
    position: relative;
    vertical-align: middle;
}

.slides{
    display: none;
}

.prev, .next{
    cursor: pointer;
    top: 50%;
    width: auto;
    padding: 20px;
    color: white;
    font-size: 25px;
    transition: 0.6s ease;   
    user-select: none;
    position: absolute;  
}

.prev{
    margin-top: -20px;
    border-radius: 0 5px 5px 0;
}

.next{
    right: 0;
    border-radius: 5px 0 0 5px;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.500);
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #717171;
    border-radius: 80%;
    display: inline-block;
    cursor: pointer;
}

 .active,.dot:hover {
    background-color: black;
}

.sales-chart{

    text-align: center;
    padding: 50px;
    border-top: 1px solid #EDEDED;
    border-bottom: none;
    margin: 20px;

}
.sales-chart a{
    text-decoration:none;
    text-align: center;
    margin: 50px;
    padding: 10px;
}
.sales-chart img{
    width: 60px;
    height: 60px;
    float: left;
    text-align: center;
}
.sales-chart h4{
        margin: 7px;
        float: left;
        text-align: center;
}
.top1,.top2{
    line-height: 50px;
    border-top: 1px solid #EDEDED;
    border-bottom: none;
    margin: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    float: left;
}
.top3{
    line-height: 50px;
    border-top: 1px solid #EDEDED;
    border-bottom: none;
    margin: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    float: left;
}


