*{
    box-sizing: border-box;
    font-family: Arial;
}

.logo{
    text-align: center;
    padding: 15px;  
}

.search{
    margin: -65px 3px;
    position: absolute;
    
}

.search input{
    width: 180px;
    border: 1px solid #C4CAD0;
    padding: 3px;
    margin: 0;
    float: left;
}

.search img{
    width: 10px;
    height: 10px;
}

.search button{
    width: 23px;
    height: 23px;
    border: 1px solid #C4CAD0;
}

nav{
    background-color: #C4CAD0;
    text-align: center;  
}

nav a{
    padding: 14px 16px;
    display: inline-block;
    color: black;
    text-decoration:none;
}

nav a:hover{
    background-color: #878C8F;
    color: white;
    text-decoration:none;
}

.slideshow{
    padding: 30px 0 0 0;
    margin: auto;
    width: 900px;
    position: relative;
    vertical-align: middle;
}

.slides{
    display: none;
}

.prev, .next{
    cursor: pointer;
    top: 50%;
    width: auto;
    padding: 20px;
    color: white;
    font-size: 25px;
    transition: 0.6s ease;   
    user-select: none;
    position: absolute;  
}

.prev{
    margin-top: -20px;
    border-radius: 0 5px 5px 0;
}

.next{
    right: 0;
    border-radius: 5px 0 0 5px;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.500);
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #717171;
    border-radius: 80%;
    display: inline-block;
    cursor: pointer;
}

.active,.dot:hover {
    background-color: black;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.saleschart{
    width: 80%;
    padding: 50px;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.topimg{
    width: 50%;  
    display: inline;
}

.topp{
    width: 50%;
    display: inline-block;
    align-items: center;
}


footer{
    background-color: #C4CAD0;
    color: #717171;
    padding: 40px;
    text-align: center;
}

