*{
    box-sizing: border-box;
    font-family: Arial;
}

.logo{
    text-align: center;
    padding: 15px;  
}
nav{
    background-color: #C4CAD0;
    text-align: center;
}

nav a{
    padding: 14px 16px;
    display: inline-block;
    color: black;
    text-decoration:none;
}

nav a:hover{
    background-color: #878C8F;
    color: white;
    text-decoration:none;
}
.p h3, .p h4{
    text-align: center;
    color:#484c4e;
}