*{
    box-sizing: border-box;
    font-family: Arial;
}

.logo{
    text-align: center;
    padding: 15px;
}

.search{
    margin: -65px 3px;
    position: absolute;
    
}

.search input{
    width: 180px;
    border: 1px solid #C4CAD0;
    padding: 3px;
    margin: 0;
    float: left;
}

.search img{
    width: 10px;
    height: 10px;
}

.search button{
    width: 23px;
    height: 23px;
    border: 1px solid #C4CAD0;
}

nav{
    background-color: #C4CAD0;
    text-align: center;
}

nav a{
    padding: 14px 16px;
    display: inline-block;
    color: black;
    text-decoration:none;
}

nav a:hover{
    background-color: #878C8F;
    color: white;
    text-decoration:none;
}

h3{
    color: #878C8F;
    margin: 0;
}

.menu{
    width: 100px;
    margin: 40px 40px 200% 40px;
    text-align: center;
    float: left;
}

.menu a{
    background-color: white;
    color: #878C8F;
    display: block;
    padding: 7px;
    text-decoration: none;
}

.container{
    /*width: 85%;*/
    display: flex;
}

.card{
    width: 30%;
    width: 400px;
    height: 400px;
    margin: 60px 70px 60px 70px;
    cursor: pointer;
    float: left;
}

.card img{
    
    cursor:pointer;
    transition:all 0.6s ease-in-out;
}

.card img:hover{
    display: block;
    transform: scale(1.3);
}

.detail{
    width: 30%;
    margin: 60px 0;
    float: right;
}

.number{
    border: none;
    border-top: 1px solid #C4CAD0;
    border-bottom: 1px solid #C4CAD0;
    height: 35px;
    width:25px;
    text-align: center;
}

.num-button1{
    border: 1px solid #C4CAD0;
    height: 35px;
    width:25px;
    text-align: center;
    cursor: pointer;
}

.num-button2{
    border:1px solid #C4CAD0;
    height: 35px;
    width:25px;
    text-align: center;
    cursor: pointer;
}

.detail button{
    background-color: #878C8F;
    color: white;
    border: none;
    margin: 30px 0;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
}
.item{
    width: 85%;
    padding: 10px 100px;
    float: left;
    line-height: 1.5;
    font-size: 16px;
}
.item-img img{
    width:650px;
    height: 500px;
    padding: 30px 100px;
    float: left;
}

.my-rating-6 {
    display: flex;
    justify-content: space-between;
    width: 200px;
    position: absolute;
}

.my-rating-6>.jq-star>svg{
    width: 30px;  
    height: 50px; 
}

.comment{
    width: 85%;
    padding: 10px 100px;
    float: left; 
}

textarea{
    margin: 70px 0 5px 0 ;
    display: flex;
    
}





/*footer{
    background-color: #C4CAD0;
    color: #717171;
    padding: 40px;
    text-align: center;
}*/
