*{
    box-sizing: border-box;
    font-family: Arial;
}

.logo{
    text-align: center;
    padding: 15px;  
}

nav{
    background-color: #C4CAD0;
    text-align: center;
}

nav a{
    padding: 14px 16px;
    display: inline-block;
    color: black;
    text-decoration:none;
}

nav a:hover{
    background-color: #878C8F;
    color: white;
    text-decoration:none;
}

h3{
    color: #878C8F;
    margin: 0;
}

.menu{
    width: 100px;
    margin: 40px 40px 100% 40px;
    text-align: center;
    float: left;
}

.menu a{
    background-color: white;
    color: #878C8F;
    display: block;
    padding: 7px;
    text-decoration: none;
}

main{
    width: 100%;
   
}

.container{
    width: 80%;
}

.card{
    width: 25%;
    width: 400px;
    height: 400px;
    margin: 60px 70px 60px 70px;
    cursor: pointer;
    float: left;
}

.card img{
    
    cursor:pointer;
    transition:all 0.6s ease-in-out;
}

.card img:hover{
    display: block;
    transform: scale(1.3);
}

.detail{
    width: 20%;
    margin: 60px 0;
    float: right;
}

.number{
    border: none;
    border-top: 1px solid #C4CAD0;
    border-bottom: 1px solid #C4CAD0;
    height: 35px;
    width:25px;
    text-align: center;
}

.num-button1{
    border: 1px solid #C4CAD0;
    height: 35px;
    width:25px;
    text-align: center;
    cursor: pointer;
}

.num-button2{
    border:1px solid #C4CAD0;
    height: 35px;
    width:25px;
    text-align: center;
    cursor: pointer;
}

.detail button{
    background-color: #878C8F;
    color: white;
    border: none;
    margin: 30px 0;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
}

.my-rating-6 {
    display: flex;
    justify-content: space-between;
    
}

.comment{
    width: 50%;
    float: left;
    
}

footer{
    background-color: #C4CAD0;
    color: #717171;
    padding: 40px;
    text-align: center;
}
