*{
    box-sizing: border-box;
    font-family: Arial;
}

.logo{
    text-align: center;
    padding: 15px;  
}

nav{
    background-color: #C4CAD0;
    text-align: center;
}

nav a{
    padding: 14px 16px;
    display: inline-block;
    color: black;
    text-decoration:none;
}

nav a:hover{
    background-color: #878C8F;
    color: white;
    text-decoration:none;
}

h3{
    color: #878C8F;
    margin: 0;
}

.menu{
    width: 100px;
    margin: 40px 40px 100% 40px;
    text-align: center;
    float: left;
}

.menu a{
    background-color: white;
    color: #878C8F;
    display: block;
    padding: 7px;
    text-decoration: none;
}

.card{
    width: 400px;
    height: 400px;
    margin: 70px;
    text-align: center;
    float: left;
    cursor: pointer;
}

.modal{
    display: none;
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9); 
}

.modal-content{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content, #caption{
    animation-name: zoom;
    animation-duration: 0.6s;
}

#caption{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,.close:focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.detail{
    float: left;
    margin: 70px 50px;
}

.number{
    border: none;
    border-top: 1px solid #C4CAD0;
    border-bottom: 1px solid #C4CAD0;
    height: 35px;
    width:25px;
    text-align: center;
}

.num-button1{
    border: 1px solid #C4CAD0;
    height: 35px;
    width:25px;
    text-align: center;
    cursor: pointer;
}

.num-button2{
    border:1px solid #C4CAD0;
    height: 35px;
    width:25px;
    text-align: center;
    cursor: pointer;
}

.detail button{
    background-color: #878C8F;
    color: white;
    border: none;
    margin: 30px 0;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
}

.my-rating-6 {
    display: flex;
    justify-content: space-between;
    float: left;
    width: 80%;
}