*{
    box-sizing: border-box;
    font-family: Arial;
}

.logo{
    text-align: center;
    padding: 15px;  
}
nav{
    background-color: #C4CAD0;
    text-align: center;
}

nav a{
    padding: 14px 16px;
    display: inline-block;
    color: black;
    text-decoration:none;
}

nav a:hover{
    background-color: #878C8F;
    color: white;
    text-decoration:none;
}
.row{
    
    margin-left: 15px;
    margin-right: 15px;
    
}

main{
    padding: 20px;
}
main::after{
    content: "";
    clear: both;
    display: table;
    
}
article{
    float: left;
    width:63%;
}
aside{
    float: right;
    width: 35%;

}
.shopping-car{
    margin: 0px;
    margin-bottom: 200px;
    padding: 0 15px;
}
.card{
    margin: 0px;
    margin-bottom: 100px;
    padding: 0 15px;
    
}

.s-header{
    margin:0;
    padding: 30px;
}

.s-header h4{
    font-size: 22px;
    padding:10px;
    margin: 0;
    line-height: 20px;
    font-family: 微軟黑正體;
    color:rgba(49, 43, 43, 0.863);
    letter-spacing: 1.5px;
}

.title{
    background-color: white;
    border-top: #878C8F;
    border-bottom: #878C8F;
}

.col-1{
    width:25%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    float:left ;
    text-align: center;

}

.col-2{
    width:20%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    float:left ;
    text-align: center;
}

.car-item{
    border-top: 1px solid #EDEDED;
    padding-left: 15px;
    padding-right: 15px;
}
.product-pic{
    width:25%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    float:left ;
    text-align: center;
}

.item-price, .item-num{
    width:20%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    float:left ;
    text-align: center;  
}
.number{
    border: none;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    height: 35px;
    width:25px;
    text-align: center;
}

.num-button1{
    border: 1px solid lightgray;
    height: 35px;
    width:25px;
    text-align: center;
    
}

.num-button2{
    border:1px solid lightgray;
    height: 35px;
    width:25px;
    text-align: center;
}

.price-label{
    line-height:1.5;
    width:20%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    float:left ;
    text-align: center;
}
.btn-checkout{
    text-align: center;
}
.button{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-decoration:none;
    background-color: #878C8F;
    color: white;
}
