*{
    box-sizing: border-box;
    font-family: Arial;
}

main{
    background-color:#f5c7cf;
    margin: 0px;
}

.logo{
    text-align: center;
    padding: 15px;  
}

.search{
    margin: -65px 3px;
    position: absolute;
    
}

.search input{
    width: 180px;
    border: 1px solid #C4CAD0;
    padding: 3px;
    margin: 0;
    float: left;
}

.search img{
    width: 10px;
    height: 10px;
}

.search button{
    width: 23px;
    height: 23px;
    border: 1px solid #C4CAD0;
}

nav{
    background-color: #C4CAD0;
    text-align: center;  
}

nav a{
    padding: 14px 16px;
    display: inline-block;
    color: black;
    text-decoration:none;
}

nav a:hover{
    background-color: #878C8F;
    color: white;
    text-decoration:none;
}