*{
    box-sizing: border-box;
    font-family: Arial;
}

main{
    margin: 0px;
}

.logo{
    text-align: center;
    padding: 15px;  
}

.search{
    margin: -65px 3px;
    position: absolute;
    
}

.search input{
    width: 180px;
    border: 1px solid #C4CAD0;
    padding: 3px;
    margin: 0;
    float: left;
}

.search img{
    width: 10px;
    height: 10px;
}

.search button{
    width: 23px;
    height: 23px;
    border: 1px solid #C4CAD0;
}

nav{
    background-color: #C4CAD0;
    text-align: center;  
}

nav a{
    padding: 14px 16px;
    display: inline-block;
    color: black;
    text-decoration:none;
}

nav a:hover{
    background-color: #878C8F;
    color: white;
    text-decoration:none;
}

section{
    margin: 20px;
    padding: 0 15px;
}
h4{
    font-size: 22px;
    padding:15px;
    margin: 0;
    line-height: 20px;
    font-family: 微軟黑正體;
    color:rgba(66, 65, 65, 0.863);
    letter-spacing: 1.5px;
    text-align: center;
}

table{
    border: 1px solid #878C8F;
    border-right: #878C8F;
    border-left: #878C8F;
    border-collapse:collapse;
    
}
th,td{
    border: 1px solid #adb5b9;
    border-right: #878C8F;
    border-left: #878C8F;
    text-align: center;
    padding: 10px;
    width: 460px;
    height: 70px;
    letter-spacing: 1.5px;
}
td p{
    text-align: left;
    letter-spacing: 1.5px;
}
td img{
    border-radius: 100%;
    width: 150px;
    height: 150px;
}